/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Delete_Word {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <24 12>;
            layers = <0>;
        };
    };

    behaviors {
        Shift_Caps_Lock: Shift_Caps_Lock {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_CAPS_LOCK";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>, <&kp CAPSLOCK>;

            tapping-term-ms = <300>;
        };

        Lower_Layer: Lower_Layer {
            compatible = "zmk,behavior-tap-dance";
            label = "LOWER_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&tog 2>, <&tog 0>;

            tapping-term-ms = <300>;
        };

        Raise_Layer: Raise_Layer {
            compatible = "zmk,behavior-tap-dance";
            label = "RAISE_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 1>, <&tog 3>;

            tapping-term-ms = <301>;
        };

        Ctrl: Ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kt LCTRL>;

            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            display-name = "Base";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E             &kp R         &kp T      &kp Y      &kp U         &kp I          &kp O    &kp P     &kp RIGHT_ALT
&kp BACKSPACE     &kp A  &kp S  &kp D             &kp F         &kp G      &kp H      &kp J         &kp K          &kp L    &kp SEMI  &kp SQT
&Shift_Caps_Lock  &kp Z  &kp X  &kp C             &kp V         &kp B      &kp N      &kp M         &kp COMMA      &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                &kp LEFT_CONTROL  &Lower_Layer  &kp RET    &kp SPACE  &Raise_Layer  &kp RIGHT_WIN
            >;
        };

        Raise {
            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT         &kp HASH       &kp DLLR          &kp PRCNT    &kp CARET     &kp AMPS      &kp ASTERISK  &kp LPAR      &kp RPAR      &kp ESC
&trans     &kp HOME  &kp PAGE_UP    &kp LESS_THAN  &kp GREATER_THAN  &trans       &kp MINUS     &kp EQUAL     &kp LBKT      &kp RBKT      &kp BSLH      &kp GRAVE
&kp LSHFT  &kp END   &kp PAGE_DOWN  &kp LC(C)      &kp LC(V)         &trans       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
                                    &kp LGUI       &trans            &trans       &trans        &trans        &trans
            >;
        };

        Lower {
            display-name = "Lower";
            bindings = <
&kp TAB    &kp N1        &kp N2  &kp N3        &kp KP_DIVIDE  &kp KP_MULTIPLY    &trans  &trans    &trans        &trans     &trans  &trans
&trans     &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp PERIOD     &kp KP_MINUS       &trans  &kp LEFT  &kp UP_ARROW  &kp RIGHT  &trans  &bt BT_CLR
&kp LSHFT  &kp N7        &kp N8  &kp N9        &kp N0         &kp PLUS           &trans  &trans    &kp DOWN      &trans     &trans  &trans
                                 &kp LGUI      &trans         &trans             &trans  &trans    &trans
            >;
        };

        Colemak {
            bindings = <
&kp TAB        &kp Q  &kp W  &kp F         &kp P   &kp G     &kp J   &kp L   &kp U      &kp Y       &kp SEMICOLON  &kp RCTRL
&kp BACKSPACE  &kp A  &kp R  &kp S         &kp T   &kp D     &kp H   &kp N   &kp E      &kp I       &kp O          &kp SQT
&kp LSHIFT     &kp Z  &kp X  &kp C         &kp V   &kp B     &kp K   &kp M   &kp COMMA  &kp PERIOD  &kp SLASH      &kp RIGHT_SHIFT
                             &kp LEFT_WIN  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4   &trans     &trans   &trans  &trans  &trans  &trans  &trans
&trans  &kp F4  &kp F5  &kp F6  &kp F8   &trans     &trans   &trans  &trans  &trans  &trans  &trans
&trans  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11    &kp F12  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans   &trans     &trans   &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        function {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
